@model IEnumerable<Character>


<p>
    <h2 align="Center" class="display-4">Character Search Results</h2>
</p>



<h4><a href="/Character/InsertCharacter/">Create a New Character</a></h4>

<table class="table">
    <tr>        
        <th>Name</th>
        <th>Species</th>
        <th>Gender</th>
        <th>Class 1</th>
        <th>Subclass 1</th>
        <th>Class 1 Level</th>
        <th>Class 2</th>
        <th>Subclass 2</th>
        <th>Class 2 Level</th>
        <th>Class 3</th>
        <th>Subclass 3</th>
        <th>Class 3 Level</th>
    </tr>

    @if (@Model != null)
    {
        foreach (var character in @Model)
        {
            <tr>
                <td><a href=/Character/ViewCharacter/@character.CharacterID>@character.Name</td>
                <td>@character.Species</td>
                <td>@character.Gender</td>
                <td>@character.Class1</td>
                <td>@character.Subclass1</td>
                <td>@character.Class1Level</td>
                <td>@character.Class2</td>
                <td>@character.Subclass2</td>
                <td>@character.Class2Level</td>
                <td>@character.Class3</td>
                <td>@character.Subclass3</td>
                <td>@character.Class3Level</td>

            </tr>
        }
    }

</table>