@model Character
<!DOCTYPE html>
<html lang="en">

<div class="card" >
    <head>    
        <div class="card-header">
            <h3 class="text-center">Update @Model.Name</h3>
        </div>
    </head>

    <body>   
        @using (Html.BeginForm("UpdateCharacterToDatabase", "Character", "Post"))
        {
            
            <div class="card-body">
                <div class="form-row" align="center">

                    @if (User.Identity.IsAuthenticated && User.IsInRole("User"))
                    {
                        <div class="form-row">
                            <div class="form-group col">
                                @* <label asp-for="CharacterID" class="control-label">Character ID</label> *@
                                <input asp-for="CharacterID" class="static-field" type="hidden" value="@Model.CharacterID" readonly />
                            </div>

                            <div class="form-group col">
                                @* <label asp-for="UserId" class="control-label">Owner Info</label> *@
                                <input asp-for="UserId" class="static-field" type="hidden" readonly />
                            </div>
                        </div>
                    }
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <div class="form-row">
                            <div class="form-group col">
                                <label asp-for="CharacterID" class="control-label-static">Character ID</label>
                                <input asp-for="CharacterID" class="static-field" type="text" value="@Model.CharacterID" readonly />
                            </div>

                            <div class="form-group col">
                                <label asp-for="UserId" class="control-label-static">Owner Info</label>
                                <input asp-for="UserId" class="static-field" type="text" value="@Model.UserId" readonly />
                            </div>
                        </div>
                    }
                    <div class="form-row">
                        <div class="form-group col">
                            <label asp-for="Name" class="control-label-required">Name</label>
                            <input type="text" name="Name" class="form-required" placeholder="Name" autocomplete="off" required value="@Model.Name" />
                        </div>

                        <div class="form-group col">
                            <label asp-for="Species" class="control-label-required">Species</label>
                            <input type="text" name="Species" class="form-required" placeholder="Species" autocomplete="off" required value="@Model.Species" />
                        </div>

                        <div class="form-group col">
                            <label asp-for="Gender" class="control-label-required">Gender</label>
                            <input type="text" name="Gender" class="form-required" placeholder="Gender" autocomplete="off" required value="@Model.Gender" />
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col">
                            <label asp-for="Speed" class="control-label-required">Speed</label>
                            <input type="number" name="Speed" class="form-required" required autocomplete="off" value="@Model.Speed" />
                        </div>

                        <div class="form-group col">
                            <label asp-for="Height" class="control-label">Height</label>
                            <input type="text" name="Height" class="form-control"  autocomplete="off" value="@Model.Height" />
                        </div>

                        <div class="form-group col">
                            <label asp-for="Weight" class="control-label">Weight</label>
                            <input type="number" name="Weight" class="form-control" autocomplete="off" value="@Model.Weight" />
                        </div>

                    
                    </div>

                    <div class="form-row">
                        <div class="form-group col">
                            <label asp-for="HairColor" class="control-label">Hair Color</label>
                            <input type="text" name="HairColor" class="form-control" autocomplete="off" placeholder="Hair Color" value="@Model.HairColor" />
                        </div>

                        <div class="form-group col">
                            <label asp-for="EyeColor" class="control-label">Eye Color</label>
                            <input type="text" name="EyeColor" class="form-control" autocomplete="off" placeholder="Eye Color" value="@Model.EyeColor" />
                        </div>
                        <div class="form-group col">
                            <label asp-for="Age" class="control-label">Age</label>
                            <input type="number" name="Age" class="form-control" autocomplete="off" value="@Model.Age" />
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col">
                            <label asp-for="Class1" class="control-label-required">Class 1</label>
                            <input type="text" name="Class1" class="form-required" placeholder="Class 1" autocomplete="off" required value="@Model.Class1" />
                        </div>

                        <div class="form-group col">
                            <label asp-for="Subclass1" class="control-label">Subclass 1</label>
                            <input type="text" name="Subclass1" class="form-control" placeholder="Subclass 1" autocomplete="off" value="@Model.Subclass1" />
                        </div>

                        <div class="form-group col">
                            <label asp-for="Class1Level" class="control-label-required">Class 1 Level</label>
                            <input type="number" step="1" name="Class1Level" class="form-required" required autocomplete="off" value="@Model.Class1Level" />
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col">
                            <label asp-for="Class2" class="control-label">Class 2</label>
                            <input type="text" name="Class2" class="form-control" placeholder="Class 2" autocomplete="off" value="@Model.Class2" />
                        </div>

                        <div class="form-group col">
                            <label asp-for="Subclass2" class="control-label">Subclass 2</label>
                            <input type="text" name="Subclass2" class="form-control" placeholder="Subclass 2" autocomplete="off" value="@Model.Subclass2" />
                        </div>

                        <div class="form-group col">
                            <label asp-for="Class2Level" class="control-label">Class 2 Level</label>
                            <input type="number" step="1" name="Class2Level" class="form-control" autocomplete="off" value="@Model.Class2Level" />
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col">
                            <label asp-for="Class3" class="control-label">Class 3</label>
                            <input type="text" name="Class3" class="form-control" placeholder="Class 3" autocomplete="off" value="@Model.Class3" />
                        </div>

                        <div class="form-group col">
                            <label asp-for="Subclass3" class="control-label">Subclass 3</label>
                            <input type="text" name="Subclass3" class="form-control" placeholder="Subclass 3" autocomplete="off" value="@Model.Subclass3" />
                        </div>

                        <div class="form-group col">
                            <label asp-for="Class3Level" class="control-label">Class 3 Level</label>
                            <input type="number" step="1" name="Class3Level" class="form-control" autocomplete="off" value="@Model.Class3Level" />
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col">
                            <label asp-for="Strength" class="control-label-required">Strength</label>
                            <input type="number" name="Strength" class="form-required" autocomplete="off" required value="@Model.Strength" />
                        </div>

                        <div class="form-group col">
                            <label asp-for="Dexterity" class="control-label-required">Dexterity</label>
                            <input type="number" name="Dexterity" class="form-required" autocomplete="off" required value="@Model.Dexterity" />
                        </div>

                        <div class="form-group col">
                            <label asp-for="Constitution" class="control-label-required">Constitution</label>
                            <input type="number" name="Constitution" class="form-required" outline-color:none autocomplete="off" required value="@Model.Constitution" />
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col">
                            <label asp-for="Intelligence" class="control-label-required">Intelligence</label>
                            <input type="number" name="Intelligence" class="form-required" autocomplete="off" required value="@Model.Intelligence" />
                        </div>

                        <div class="form-group col">
                            <label asp-for="Wisdom" class="control-label-required">Wisdom</label>
                            <input type="number" name="Wisdom" class="form-required" autocomplete="off" required value="@Model.Wisdom" />
                        </div>

                        <div class="form-group col">
                            <label asp-for="Charisma" class="control-label-required">Charisma</label>
                            <input type="number" name="Charisma" class="form-required" autocomplete="off" required value="@Model.Charisma" />
                        </div>
                    </div>
                </div>

                <div align="center">
                    <label asp-for="CharacterNotes" class="control-label">Character Notes</label>
                    <textarea class="form-control-lg" id="CharacterNotes" name="CharacterNotes" rows="4" value="@Model.CharacterNotes">            
                        </textarea>
                </div>

            </div>

        <div class="card-footer" Align="center">    
            <input align="center" type="reset" value="Reset" class="btn btn-primary" /> 
            <input align="center" type="submit" value="Update Character" class="btn btn-primary" />
        </div>
        }
    </body>
</div>