@using Microsoft.AspNetCore.Identity


@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@model IEnumerable<Character>


@if (User.IsInRole("User"))
{

    var usr = await UserManager.GetUserAsync(User);
    var email = usr?.Email;

    <div class="card">
        <div class="card-header">
            <h1 align="center">My Characters</h1>
        </div>
        <div align="center" style="display: block">
            <a href="/Character/InsertCharacter/">Create a New Character</a>
        </div>
        <div class="form-row" align="center">
            <div class="form-group col">
                Name
            </div>
            <div class="form-group col">
                Species
            </div>
            <div class="form-group col">
                Gender
            </div>
            <div class="form-group col">
                Class
            </div>
            <div class="form-group col">
                Subclass
            </div>
            <div class="form-group col">
                Class Level
            </div>
        </div>

        @foreach (var character in Model)
        {
            @if (character.UserId == usr.Id)
            {
                <div class="card-body">

                    <div class="form-row" align="center">
                        <div class="form-group col">
                            <h5><a href="/Character/ViewCharacter/@character.CharacterID">@character.Name</a></h5>
                        </div>
                        <div class="form-group col">
                            <a>@character.Species</a>
                        </div>
                        <div class="form-group col">
                            <a>@character.Gender</a>
                        </div>
                        <div class="form-group col">
                            <a>@character.Class1</a>
                        </div>
                        <div class="form-group col">
                            <a>@character.Subclass1</a>
                        </div>
                        <div class="form-group col">
                            <a>@character.Class1Level</a>
                        </div>
                    </div>
                    <div class="form-row" align="center">
                        <div class="form-group col">
                        </div>
                        <div class="form-group col">
                        </div>
                        <div class="form-group col">
                        </div>
                        <div class="form-group col">
                            <a>@character.Class2</a>
                        </div>
                        <div class="form-group col">
                            <a>@character.Subclass2</a>
                        </div>
                        <div class="form-group col">
                            <a>@character.Class2Level</a>
                        </div>
                    </div>
                    <div class="form-row" align="center">
                        <div class="form-group col">
                        </div>
                        <div class="form-group col">
                        </div>
                        <div class="form-group col">
                        </div>
                        <div class="form-group col">
                            <a>@character.Class3</a>
                        </div>
                        <div class="form-group col">
                            <a>@character.Subclass3</a>
                        </div>
                        <div class="form-group col">
                            <a>@character.Class3Level</a>
                        </div>
                    </div>
                </div>
            }
            
        }
    </div>

}
else
{
    <h2 align="center">Unauthorized Access</h2>
}

