@using Microsoft.AspNetCore.Identity;

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@model Character
@{
    IdentityUser usr = null;
    @if (User.IsInRole("User") || User.IsInRole("Admin"))
    {
        usr = await UserManager.GetUserAsync(User);
    }

}

<div class="card">
    <div class="card-header">
        <h3 align="center">@Model.Name Character Details</h3>
    </div>
    
    <div class="form-row" align="center">
        <div class="form-group col">
            Name
        </div>
        <div class="form-group col">
            Species
        </div>
        <div class="form-group col">
            Gender
        </div>
        <div class="form-group col">
            Class
        </div>
        <div class="form-group col">
            Subclass
        </div>
        <div class="form-group col">
            Class Level
        </div>
    </div>
    <div class="card-body">
        <div class="form-row" align="center">
            <div class="form-group col">
                @Model.Name
            </div>
            <div class="form-group col">
                @Model.Species
            </div>
            <div class="form-group col">
                @Model.Gender
            </div>
            <div class="form-group col">
                @Model.Class1
            </div>
            <div class="form-group col">
                @Model.Subclass1
            </div>
            <div class="form-group col">
                @Model.Class1Level
            </div>
        </div>

        <div class="form-row" align="center">
            <div class="form-group col">
                
            </div>
            <div class="form-group col">
               
            </div>
            <div class="form-group col">
                
            </div>
            <div class="form-group col">
                @Model.Class2
            </div>
            <div class="form-group col">
                @Model.Subclass2
            </div>
            <div class="form-group col">
                @Model.Class2Level
            </div>
        </div>

        <div class="form-row" align="center">
            <div class="form-group col">
               
            </div>
            <div class="form-group col">
               
            </div>
            <div class="form-group col">
                
            </div>
            <div class="form-group col">
                @Model.Class3
            </div>
            <div class="form-group col">
                @Model.Subclass3
            </div>
            <div class="form-group col">
                @Model.Class3Level
            </div>
        </div>

        <div class="form-row" align="center">
            <div class="form-group col">
                Strength: @Model.Strength
            </div>
            <div class="form-group col">
                Dexterity: @Model.Dexterity
            </div>
            <div class="form-group col">
                Constitution: @Model.Constitution
            </div>
        </div>

        <div class="form-row" align="center">
            <div class="form-group col">
                Intelligence: @Model.Intelligence
            </div>
            <div class="form-group col">
                Wisdom: @Model.Wisdom
            </div>
            <div class="form-group col">
                Charisma: @Model.Charisma
            </div>
        </div>

        <div class="form-row" align="center">
            <div class="form-group col">
                Speed: @Model.Speed
            </div>
            <div class="form-group col">
                Hair Color: @Model.HairColor
            </div>
            <div class="form-group col">
                Eye Color: @Model.EyeColor
            </div>
        </div>

        <div class="form-row" align="center">
            <div class="form-group col">
                Height: @Model.Height
            </div>
            <div class="form-group col">
                Weight: @Model.Weight
            </div>
            <div class="form-group col">                
                Age: @Model.Age
            </div>
        </div>        

        @if (User.IsInRole("Admin"))
        {
            <div class="form-row" align="center">
                <div class="form-group col">
                    ID: @Model.CharacterID
                </div>
                <div class="form-group col">
                    Owner Info: @Model.UserId
                </div>
            </div>

        }

        <div class="form-row" align="center">
            <div class="form-group col">
                Notes: @Model.CharacterNotes
            </div>
        </div>
        
    </div>
    @if (User.IsInRole("User") || User.IsInRole("Admin"))
    {
        @if (@Model.UserId == usr.Id || User.IsInRole("Admin"))
        {
            <div class="card-footer" Align="center">
                <div class="form-row" align="center">
                    <div class="form-group col">
                        <form action="\Character\UpdateCharacter\@Model.CharacterID">
                            <input type="submit" value="Update this Character" class="btn btn-primary" />
                        </form>
                    </div>
                    <div class="form-group col">
                        @using (Html.BeginForm("DeleteCharacter", "Character", "Post"))
                        {
                            <input type="hidden" asp-for="CharacterID" value="@Model.CharacterID" />
                            <input type="submit" onclick="return confirm('Are you sure?')" value="Delete this Character" class="btn btn-primary" />
                        }
                    </div>
                </div>
            </div>
        }
    }
    

</div>
